USE [HastaneDB]
GO
/****** Object:  Table [dbo].[Doktorlar]    Script Date: 11.08.2026 15:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doktorlar](
	[DoktorID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[PoliklinikID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoktorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duyurular]    Script Date: 11.08.2026 15:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duyurular](
	[DuyuruID] [int] IDENTITY(1,1) NOT NULL,
	[Duyuru] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hastalar]    Script Date: 11.08.2026 15:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastalar](
	[HastaID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[TelefonNo] [char](20) NULL,
 CONSTRAINT [PK__Hastalar__114C5CABFC21A26D] PRIMARY KEY CLUSTERED 
(
	[HastaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 11.08.2026 15:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[TCKimlik] [char](11) NOT NULL,
	[Sifre] [varchar](256) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[RolId] [int] NULL,
	[Cinsiyet] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Poliklinikler]    Script Date: 11.08.2026 15:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Poliklinikler](
	[PoliklinikID] [int] IDENTITY(1,1) NOT NULL,
	[BolumAdi] [nvarchar](100) NOT NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PoliklinikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Randevular]    Script Date: 11.08.2026 15:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Randevular](
	[RandevuID] [int] IDENTITY(1,1) NOT NULL,
	[HastaID] [int] NULL,
	[DoktorID] [int] NULL,
	[RandevuTarihi] [date] NULL,
	[RandevuSaati] [time](0) NULL,
	[HastaSikayeti] [nvarchar](max) NULL,
	[Durum] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RandevuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 11.08.2026 15:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sekreterler]    Script Date: 11.08.2026 15:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sekreterler](
	[SekreterID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SekreterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Doktorlar] ON 

INSERT [dbo].[Doktorlar] ([DoktorID], [KullaniciID], [PoliklinikID]) VALUES (1, 9, 14)
INSERT [dbo].[Doktorlar] ([DoktorID], [KullaniciID], [PoliklinikID]) VALUES (2, 10, 1)
INSERT [dbo].[Doktorlar] ([DoktorID], [KullaniciID], [PoliklinikID]) VALUES (6, 17, 6)
SET IDENTITY_INSERT [dbo].[Doktorlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Duyurular] ON 

INSERT [dbo].[Duyurular] ([DuyuruID], [Duyuru]) VALUES (1, N'acil hasta')
SET IDENTITY_INSERT [dbo].[Duyurular] OFF
GO
SET IDENTITY_INSERT [dbo].[Hastalar] ON 

INSERT [dbo].[Hastalar] ([HastaID], [KullaniciID], [TelefonNo]) VALUES (1, 1, N'(784) 562-4589      ')
INSERT [dbo].[Hastalar] ([HastaID], [KullaniciID], [TelefonNo]) VALUES (2, 4, N'(555) 555-5555      ')
SET IDENTITY_INSERT [dbo].[Hastalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [TCKimlik], [Sifre], [Ad], [Soyad], [RolId], [Cinsiyet]) VALUES (1, N'11111111111', N'12345esma', N'esin', N'derya', 1, N'Kadın')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [TCKimlik], [Sifre], [Ad], [Soyad], [RolId], [Cinsiyet]) VALUES (4, N'22222222222', N'123456', N'deneme', N'deneme', 1, N'Kadın')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [TCKimlik], [Sifre], [Ad], [Soyad], [RolId], [Cinsiyet]) VALUES (9, N'33333333333', N'12345', N'seda', N'ünsal', 2, N'Kadın')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Poliklinikler] ON 

INSERT [dbo].[Poliklinikler] ([PoliklinikID], [BolumAdi], [AktifMi]) VALUES (1, N'Dahiliye', 1)
INSERT [dbo].[Poliklinikler] ([PoliklinikID], [BolumAdi], [AktifMi]) VALUES (2, N'Kardiyoloji', 1)
INSERT [dbo].[Poliklinikler] ([PoliklinikID], [BolumAdi], [AktifMi]) VALUES (3, N'Nöroloji', 1)
SET IDENTITY_INSERT [dbo].[Poliklinikler] OFF
GO
SET IDENTITY_INSERT [dbo].[Randevular] ON 

INSERT [dbo].[Randevular] ([RandevuID], [HastaID], [DoktorID], [RandevuTarihi], [RandevuSaati], [HastaSikayeti], [Durum]) VALUES (1, 1, 1, CAST(N'2026-02-08' AS Date), CAST(N'09:00:00' AS Time), N'vitamin değerleri kontrol', N'1')
INSERT [dbo].[Randevular] ([RandevuID], [HastaID], [DoktorID], [RandevuTarihi], [RandevuSaati], [HastaSikayeti], [Durum]) VALUES (2, 1, 2, CAST(N'2026-03-08' AS Date), CAST(N'13:35:00' AS Time), N'genel kontrol2', N'1')
SET IDENTITY_INSERT [dbo].[Randevular] OFF
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 

INSERT [dbo].[Roller] ([RolID], [RolAdi]) VALUES (1, N'Hasta')
INSERT [dbo].[Roller] ([RolID], [RolAdi]) VALUES (2, N'Doktor')
INSERT [dbo].[Roller] ([RolID], [RolAdi]) VALUES (3, N'Sekreter')
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
/****** Object:  Index [UQ__Doktorla__E011F09A9F57171D]    Script Date: 11.08.2026 15:05:08 ******/
ALTER TABLE [dbo].[Doktorlar] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Hastalar__E011F09A7A65A2A3]    Script Date: 11.08.2026 15:05:08 ******/
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [UQ__Hastalar__E011F09A7A65A2A3] UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__4338AEC737831EC0]    Script Date: 11.08.2026 15:05:08 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[TCKimlik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Sekreter__E011F09ACE2CEDB0]    Script Date: 11.08.2026 15:05:08 ******/
ALTER TABLE [dbo].[Sekreterler] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Poliklinikler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Randevular] ADD  DEFAULT ('Aktif') FOR [Durum]
GO
ALTER TABLE [dbo].[Doktorlar]  WITH CHECK ADD  CONSTRAINT [FK__Doktorlar__Kulla__66603565] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doktorlar] CHECK CONSTRAINT [FK__Doktorlar__Kulla__66603565]
GO
ALTER TABLE [dbo].[Doktorlar]  WITH CHECK ADD FOREIGN KEY([PoliklinikID])
REFERENCES [dbo].[Poliklinikler] ([PoliklinikID])
GO
ALTER TABLE [dbo].[Hastalar]  WITH CHECK ADD  CONSTRAINT [FK__Hastalar__Kullan__6B24EA82] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Hastalar] CHECK CONSTRAINT [FK__Hastalar__Kullan__6B24EA82]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Roller] ([RolID])
GO
ALTER TABLE [dbo].[Randevular]  WITH CHECK ADD  CONSTRAINT [FK_Randevu_Doktor] FOREIGN KEY([DoktorID])
REFERENCES [dbo].[Doktorlar] ([DoktorID])
GO
ALTER TABLE [dbo].[Randevular] CHECK CONSTRAINT [FK_Randevu_Doktor]
GO
ALTER TABLE [dbo].[Randevular]  WITH CHECK ADD  CONSTRAINT [FK_Randevu_Hasta] FOREIGN KEY([HastaID])
REFERENCES [dbo].[Hastalar] ([HastaID])
GO
ALTER TABLE [dbo].[Randevular] CHECK CONSTRAINT [FK_Randevu_Hasta]
GO
ALTER TABLE [dbo].[Sekreterler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
